
body{align-items: center;
     /* padding: 50px 60px; */
  
    }
/* navbar style */
.navbar{ width: 1200px;
    text-align: center;
    /* max-width: 1200px; */
    background-color: rgb(247, 246, 245);
    margin: 0 auto;
    display: flex;
    
    
}
.nav-container{
    min-height: 20px;
    display: flex;
    align-items: center;
    width: 50%;
    gap: 5px;
}
.nav-container p{
    font-size: 25px;
}
.special{
    color: #FF5400;
    font-weight: 900;
    font-family: Mulish;
}
.items-container{
    width: 50%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 10px;
}
.items-container a{
    text-decoration: none;
    font-size: 20px;
    color:#424247;
}
/* banner */
.banner {background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
   background-position: center 0;
}
.banner{ align-items: center;
    
    /* padding: 50px 60px; */
    min-width: 1200px;
    min-height: 500px;
    background-repeat: no-repeat;
    margin: 70px 80px;
    color: #FFF;
    border-radius: 20px;
}
.banner-title{text-align: center;
    padding-top: 80px;
    padding-bottom: 0px;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.form-primary{ display: flex;
    justify-content: center; 
    
 } 
     
 .btn-primary{ text-align: center; 
    border: none;
    font-style: normal;
    color: #FFF;
    border-radius: 5px;
    background: #FF5400;
    width: 100px;
    height: 30px;
   
}
.btn1{ text-align: center; 
    border: none;
    font-style: normal;
    color: #FFF;
    border-radius: 5px;
    background: #FF5400;
    width: 100px;
    height: 20px;}
/* popular */

.popular-container-title { 
    color: #131318;
font-family: Mulish;
font-size: 36px;
text-align: left;
line-height: 60px;
font-style: normal;
font-weight: 800;
margin-top: 0px;
margin-bottom: 0px;
}
.popular-items { color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;}

    .popular-items > li{font-style: normal;
        font-weight: 400;
        line-height: 26px;}
 .eklainoantam {
    /* align-items: center; */
     display: flex;
     justify-content:center;
     text-align: left;
     /* justify-content: space-around; */
     /* padding-left: 100px; */
     gap: 100px;
    }
.popularpicture { width: 450px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
    align-items: flex-end;
    }
    /* destination  */
.destination-title{text-align: center; 
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    padding-top: 20px;}
.Destinationimg div{
    /* gap: 10px; 
    padding-left: 80px; */
    justify-content: center;
}

/* newsletter */
.newsletter{ padding-top: 50px;
left: 0px;}

/* footer  */
 footer{ 
    margin-left: 55px;
    margin-right: 55px;
    max-width: 1400px;
    max-height: 300px;
    background: rgba(19, 19, 24, 0.05);
}
.footer-title{ 
    padding-top: 100px;
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;}
.social-link{align-items: center;
    text-align:center;

}
/* why cooooose */

.box{ justify-items: center;
justify-content: center;
}
.first-line{display: flex;
justify-content:center;
align-items: center;
padding-bottom: 10px;
}
.box-1 {margin-left: 55px;
    margin-right: 55px;
     width: 400px;
    height: 250px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);

}
.box-1 h2 {padding-top: 0px;
padding-left: 10px;}
.travel-badge{ width: 300px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
background: #FF5400;
text-align: center;
padding-top: 5px;
position: relative;
bottom: 200px;
left: 250px;
}
.travel-badgef{ width: 200px;
    height: 80px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
background: #FF5400;
text-align: center;
padding-top: px;
position: relative;
bottom: 130px;
left: 200px;
}


@media screen and (max-width:576px) {
    body{align-items:left;}
    
 
    .square-collage{
        grid-template-columns: 1fr;
    }
    .navbar{ display: none;}
    .banner { background-image: none;
        justify-content: left;
        
        
        }
        .banner{background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
            background-size: 450px 450px;
            background-repeat: no-repeat;
            background-attachment:local;
            background-position: left;
            }
        .banner-title{text-align: left;
            padding-left: 90px;
            padding-top: 80px;
            padding-bottom: 0px;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;}
        .bannerd{ display:none;}
        .p2{ padding-left: 50px;
        padding-bottom: 30px;}
        .form-primary{ display: grid;
            justify-content: left;
            padding-left: 120px;
            margin-bottom: 10px;
            gap: 20px;
            



        }
        form{ display: grid;
        justify-content: left;
        margin-bottom: 15px;
        padding-bottom: 10px;
        gap: 20px;
        }
       
            .btn1{display: none;
            }
            .popular{ flex-direction: column;
                justify-content: center;
            padding-left: 10px;
        padding-right: 10px;}

     .row > img { display: none;
    }
    .desimg{ flex-direction: column;
        
        
    }
     .desimg img{padding-left: 50px;
        padding-right: 50px; 
        padding-top: 10px;
        width: 350px;
        height: 170px;
        }
    .choose{ }
    .first-line{flex-direction: column;
    justify-content: left;
    gap: 20px;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0px;}
    .boxbottom{ justify-items: left;
    margin-left: 0px;
    margin-right: 0px;}
    .boxo{
        display: none;
    }
    .simple, 
    .newsletter{ flex-direction: column;
        justify-items: center;
        text-align: left;
        margin-left: 60px;
    }
    .title{ text-align: left;
    margin-left: 40px;}
    .simple-img img,
    .newsimg2 {display: none;
     }
     .newsletter img{ width: 335px;
        height: 300px;
        flex-shrink: 0;}
   

}


/* medium devices */
@media screen and (min-width: 577px) {
    .desimg, 
    .boxbottom,
    .simple-img2,
    .newsimg,
    .p2,
    .btn2{ display: none;} 
    }


    